.MainPage_container{
    width: 100%;
    padding-top: 8vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main_displayborad{
    width: 100%;
    height: 40vh;
    border: 1px solid black;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.MainPage_area{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
}
.category_name{
    text-align: left;
    font-size: 1.3rem;
    width: 90%;
    margin: 0 auto;
}

.main_picture_area{
    width: 95%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main_picture{
    width: 100%;
}
.main_item_info{
    display: flex;
    flex-direction: column;
}

.mainpage_sub_area{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.sub_picture{
    width: 100%;
}